@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&display=swap");

:root {
    --font-color-main: #1e293b;
    --font-color-secondary: #4b5563;
    --background-color-main: #f2d51e;
    --background-color-card: #eef2ff;
    --background-color-button: #000;
    --color-white: #fff;
    --color-black: #000;
    --color-shadow: rgba(0, 0, 0, 0.5);
  }
  
  * {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
  }
  
  h1, h2, h3 {
    font-family: "Alegreya Sans SC", sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  h2 {
    font-size: 35px;
    padding: 3px;
  }
  
  p {
    font-size: 20px;
  }
  
  body {
    display: flex;
    flex-direction: column;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }

  .label-text {
    font-weight: bold;
  }
  
  .container {
    border-radius: 16px;
    background: var(--background-color-card);
    box-shadow: 0px 0px 15px 0px var(--color-shadow);
    margin: 10px;
  }
  
  /* NAV BAR */
.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 30px;
  margin-bottom: 150px;
}

/* Navigation button styling */
.nav-button {
  transition: background-color 1s ease;
}

.nav-button svg {
  fill: var(--color-black);
  stroke: var(--color-black);
  height: 30px;
  transition: fill 1s ease, stroke 1s ease;
  margin-top: 5px;

}

/* Styling for the active nav-button */
.nav-button.active {
  background-color: var(--color-black);
  transition: background-color 1s ease;
}

.nav-button.active svg {
  fill: var(--color-white);
  stroke: var(--color-white);
  transition: fill 1s ease, stroke 1s ease;
}

.nav-button.active a {
  color: var(--color-white); /* Changes the color of the link text */
  transition: color 1s ease;
}

/* Styling for the nav-button on hover */
.nav-button:hover {
  background-color: var(--color-black);
  transition: background-color 1s ease;
}

.nav-button:hover svg {
  fill: var(--color-white);
  stroke: var(--color-white);
  transition: fill 1s ease, stroke 1s ease;
}

.nav-button:hover a {
  color: var(--color-white); /* Changes the color of the link text */
  transition: color 1s ease;
}
nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  
  .nav-container ul {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
  }
  
  .nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
    border-radius: 10px;
    list-style: none;
    height: 50px;
    width: 50px;
    transition: background-color 1s ease;
  }
  
  .nav-button svg {
    fill: var(--color-black);
    stroke: var(--color-black);
    height: 30px;
    transition: fill 1s ease, stroke 1s ease;
  }
  
  .nav-button:hover {
    background-color: var(--color-black);
    transition:  1s ease;
    transition: fill 1s ease, stroke 1s ease, background-color 1s ease;

  }
  
  .nav-button:hover svg {
    fill: var(--background-color-card);
    stroke: var(--background-color-card);
  }
  
  .active {
    fill: var(--background-color-card);
    stroke: var(--background-color-card);
    }
  
  /* PERSONAL CONTAINER*/
  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .personal-container {
    width: 90%;
    height: 440px;
    max-width: 360px;
  }

  /* IMG  */
  .personal-container-figure {
    position: relative;
  }
  
  .personal-container-figure img {
    position: absolute;
    bottom: -120px;
    right: 90px;
  }
  
  .personal-container-info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 20px;
    height: 100%;
    width: 100%;
  }
  
  .info-rrhh {
    margin: 10px;
    display: flex;
  }
  
  

  .info-rrhh-svg {
    margin: 5px;
    height: 40px;
    width: 40px;
  }
  
  .info-rrhh-svg:hover { 
    transform: scale(1.2);
  }
 

  .info-mail {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .info-mail p {
    margin: 0px;
    padding: 0px;
  }
  
  .info-mail-svg {
    height: 30px;
    width: 30px;
    margin: 10px;
  }
  
  .info-name {
    color: var(--font-color-main);
    font-size: 40px;
  }
  
  .info-career {
    font-size: 25px;
    color: var(--font-color-secondary);
  }
  
  .personal-container-button {
    margin-top: 30px;
    border-radius: 16px;
    padding: 8px 25.34px 9px 25.55px;
    color: var(--color-white);
    background: var(--background-color-button);
    font-size: 15px;
  }
  
  /* CONTENT CONTAINER */
  .content-container {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 25px;
    width: 90%;
    overflow-y: auto;
    /*max-width: 450px;*/
    
  }
  ::-webkit-scrollbar {
    display: none;
  }

  .content-container-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
  
  .content-container p {
    padding: 4px;
  }
  
  .content-container-skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
 
  }

  
  
  
  .skill {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
    width: 100%;
  }
  
  .skill-image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 10px;
  }
  
  .skill-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  
  /* FOOTER BOX */
  
  .footer {
    width: 100%;
    bottom: 0px;
  }
  
  .footer-box {
    display: flex;
    justify-content: center;
    height: 50px;
    line-height: 50px;
    background-color: var(--color-black);
  }
  
  .animated-text {
    display: inline-block;
    white-space: nowrap;
    animation: move 50s linear infinite;
    color: var(--color-white);
  }

  .animated-text:hover{
    color: var(--background-color-main);
  }
  

/******************************* DESKTOP *******************************/


@media (min-width: 900px) and (min-height: 860px){
  body {
    background-image: url('../assets/backgroundYellow.png');
    background-color: var(--background-color-main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  .header {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    height: 15%;
    width: 100vw;
  }

  .main {
    height: 70%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .footer {
    height: 15%;
    width: 100vw;
  }

  .container {
    border-radius: 16px;
    background: var(--background-color-card);
    box-shadow: 0px 0px 15px 0px var(--color-black);
    margin: 10px;
  }

  /* NAV BAR */
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 80px;
    margin: 0px;
  }

  .nav-container ul {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
    background-color: var(--background-color-card);
    border-radius: 10px;
    list-style: none;
    height: 60px;
    width: 60px;
    transition: background-color var(--hover-duration) ease;
  }

  .nav-button svg {
    fill: var(--color-black);
    stroke: var(--color-black);
    height: 30px;
  }

  .nav-button:hover {
    background-color: var(--color-black);
  }

  .nav-button:hover svg {
    fill: var(--background-color-card);
    stroke: var(--background-color-card);
    transition: fill var(--hover-duration) ease, stroke var(--hover-duration) ease;
  }

  /* PERSONAL CONTAINER*/
  .personal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    flex-shrink: 0;
    margin: 25px;
  }

  .personal-container-info {
    display: flex;
    justify-content: end;
  }

  .info-name {
    color: var(--color-black);
    font-size: 30px;
  }

  .info-career {
    color: var(--color-gray);
  }

  .personal-container-button {
    border-radius: 16px;
    padding: 8px 25.34px 9px 25.55px;
    color: var(--color-white);
    font-size: 15px;
    background: var(--color-black);
  }

  .personal-container-figure {
    position: relative;
  }
  .personal-container-figure img {
    bottom: -80px;
    right: -80px;
  }

  .content-container-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* CONTENT CONTAINER */
  .content-container {
    display: flex;
    width: 700px;
    height: 600px;
    padding: 32px 48px;
    justify-content: start;
    align-items: start;
    padding: 30px;
  }

  .content-container-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* FOOTER BOX */
  .footer-box {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    overflow: hidden;
    bottom: 0px;
    line-height: 50px;
    background-color: var(--color-black);
  }

  .animated-text {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    animation: move 50s linear infinite;
    color: var(--color-white);
  }
}




/* Scroll Animation */
@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(100px);
	}
}

svg #wheel {
	animation: scroll ease 1.5s infinite;
}