
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #F2D51E;
    height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100vw;
    margin-top: 30px;
    margin-bottom: 130px;
    
}

.main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer{
    width: 100vw;
}


.container {
    border-radius: 16px;
    background: #EEF2FF;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.50);
    margin: 10px;
}

/* NAV BAR */

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380;
    height: 70px;
    margin: 0px;
}

.nav-container ul {
    display: flex;
    justify-content: center;
    width: 100%;
}


.nav-button {
    margin: 0px 20px;
    background-color: black;
    border-radius: 10px;
    list-style: none;
    height: 50px;
    width: 50px;
}


/* PERSONAL CONTAINER*/
.personal-container {

    position: flex;
    
    width: 90%;
    height: 400px;
    flex-shrink: 0;
}


/* CONTENT CONTAINER */
.content-container{
    display: flex;
    width: 100%;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}


figure {
    position: relative;
}

figure img {
    position: absolute;
    bottom: -140px;
    left: 80px;
}



/* FOOTER BOX */
 

.footer-box {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 45px;
    line-height: 50px;
    background-color: black;
}

.animated-text {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    animation: move 50s linear infinite;
    color: white;
}

/* DESKTOP */
@media  (width >= 768px) {
    body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5c5215;
    height: 100vh;
    width: 100vw;
}

.header {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 15%;
    width: 100vw;
}

.main {
    height: 70%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer{
    height: 15%;
    width: 100vw;
}


.container {
    border-radius: 16px;
    background: #EEF2FF;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.50);
    margin: 10px;
}

/* NAV BAR */

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 70px;
    margin: 0px;
}

.nav-container ul {
    display: flex;
    justify-content: center;
    width: 100%;
}


.nav-button {
    margin: 0px 10px;
    background-color: black;
    border-radius: 10px;
    list-style: none;
    height: 50px;
    width: 50px;
}


/* PERSONAL CONTAINER*/
.personal-container {

    position: flex;
    
    width: 300px;
    height: 400px;
    flex-shrink: 0;
    margin: 25px;
}


/* CONTENT CONTAINER */
.content-container{
    display: flex;
    width: 700px;
    height: 520px;
    padding: 32px 48px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}


figure {
    position: relative;
}

figure img {
    position: absolute;
    bottom: -140px;
    left: 50px;
}



/* FOOTER BOX */
 

.footer-box {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 45px;
    line-height: 50px;
    background-color: black;
}

.animated-text {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    animation: move 50s linear infinite;
    color: white;
}

    
.svg.svg-fill-primary:hover{
    fill: red;

}
} 
    
